{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>acc</title>

    <body>

        <h1>Book Consultation or Solar Panel Installation</h1>

        <form class="bookingForm" method="POST">

            <label for="booking_type">Select Booking Type:</label><br>
            <select name="booking_type">
                <option value="consultation">Consultation</option>
                <option value="solar_installation">Solar Panel Installation</option>
            </select><br><br>

            
                <div class="date">
                <label for="date">Booking Date:</label><br>
                <input class="date"  type="date" name="date" required><br><br>
                

                <label for="time">Time:</label>
                <input type="time" name="time" required><br><br>

                <label for="quantity">Quantity:</label><br>
                <input type="number" name="quantity" min="1" required><br><br>
                </div>
                <button type="submit">Book Now</button>

                {% if error %}
                <p class="error"> {{ error }}</p>
                {% endif %}
            
        </form>
    </body> 
</head>


{%endblock%}