{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>CCF NAV TEST</title>
    <body>
        <br>
        <br>
        <br>
        <br>
        <body>
            <br>
            <br>
            <br>
            <br>
    
            <h1>Movie/Shows Catalog</h1> <!--Energy Products-->
    
            <div class="catalog"> <!--A Catalog of all the products avaliable-->
              <div class="product-card">
                <img  src="\static\jsp.jpg" alt="Solar Panel" class="product-image"> <!--Solar Panel-->
                <div class="product-content">
                  <div class="product-title">Jurasic Park</div>
                  <div class="product-description">Dinosaurs</div>
                </div>
              </div>
          
              <div class="product-card">
                
                  <img src="\static\ys.jpg" alt="Wind Turbine" class="product-image"></a> <!--Wind Turbine-->
                <div class="product-content">
                  <div class="product-title">Young Sheldon</div>
                  <div class="product-description">Smart Kid</div>
                </div>
              </div>
          
              <div class="product-card">
                
                <img src="\static\flash.jpg" alt="Battery Pack" class="product-image"></a> <!--Lithium battery-->
                <div class="product-content">
                  <div class="product-title">The Flash</div>
                  <div class="product-description">The Fastest Man Alive</div>
                </div>
              </div>
          
              <div class="product-card">
    
                  <img src="\static\oppen.jpg" alt="Inverter" class="product-image"></a> <!--Inverter-->
                <div class="product-content">
                  <div class="product-title">oppenheimer</div>
                  <div class="product-description"></div>
                </div>
              </div>
            </div>
          
          </body>
          </html>
        </body>
        

    </body>
{%endblock%}