{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>CCF NAV TEST</title>
    <body>
        <br>
        <br>
        <br>
        <br>
        <p class="cc">This Calculator is designed to help you calculate your total carbon footprint by inputing a variety of data.</p>
        <iframe width="97%" height="1000" frameborder="0"  marginheight="0" style="margin-left: 1%; margin-top: -1%;" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>

    </body>
{%endblock%}