{%extends "layout.html"%} 

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
    </style>
    <title>INDEX NAV TEST</title>
    <body>
        <div class="VTE"> <!--Value, Trust, Ease-->
        <img class="houseSVG" src="static/house.svg">
        <div class="VTEHeadings">
            <h3 class="V">Value</h3>
            <h3 class="T">Trust</h3>
            <h3 class="E">Ease</h3>
        </div>

        <hr style="width:175px; height: 0px; margin-top: 0.3%; margin-right:90%;;">
        <hr style="width:175px; height: 0px; margin-top: -0.5%; margin-right:77%;;">
        <hr style="width:175px; height: -1px; margin-top: -0.5%; margin-right:62%;;">

        <div class="VTEList">
        <div class="Value">
            <ul>
                <li>Free Consultation</li>
                <li>Free Eligibility Check</li>
            </ul>
        </div>

        <div class="Trust">
            <ul>
                <li>Garanteed Company Transparency</li>
                <li>20,000 Happy Customers</li>
            </ul>
        </div>

        <div class="Ease">
            <ul>
                <li>Quick and Easy installation</li>
                <li>In Website Energy Tracking</li>
            </ul>
        </div>
        </div>

        

    
        </div>
    </body>
{%endblock%} 