<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/layout.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
    </style>

    <title>Document</title>
</head>

<body>
    
    <script class="sienna_widget" src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>

    <ul class="navBar">  <!--The Navigation bar-->

        <header>
            <a class="logoText">CineWave</a>
        </header>

        <li><a href="/">Home</a></li>
        <li><a href="/book">Bookings</a></li> <!--You have to be logged-in to book [Will CHANGE]-->
        
        <li class="dropList"> <!--The Explore Dropdown menu-->
            <a>Explore</a>

            <ul class="dropDown"> <!--Dropdown Menu Contents-->
                <li><a href="/CCF">Movie Listings</a></li>
                <li><a href="/EP">Movie Details</a></li>
                
            </ul>
        </li>
        {% if user %}
        <li class="dropList"> <!--The Explore Dropdown menu-->
            <a>Profile</a>

            <ul class="dropDown"> <!--Dropdown Menu Contents-->
                <li><a href="/view">View Bookings</a></li>
                <li><a href="/account">Account Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
       

        {% else %}
        <div class="registerLogin">
        <li class="S"><a href="/signup">Signup</a></li>
        <li class="L"><a href="/login">Login</a></li>
        </div>
        {%endif%}
            
    

    </ul>

    <footer class="footer">
        <header>
            <a class="logoText">CineWave</a>
        </header>

        <li><a href="/PP">Privacy Policy</a></li>
        <li><a href="/legal">Legal</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/about">About Us</a></li>
    </footer>
    {% block content %}
    
    {% endblock %}

   
</body>
<html>