{%extends "layout.html"%} 

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    
    </style>
    <title>LEGAL NAV TEST</title>
    <body>
        <div class="legalbdy">
        <h1>Legalities</h1>
        <p> This page will go over the the assets I used within the development of this website.</p>
        
        <h2>Frontend Assets</h2>
        <ul>
            <li>Google Fonts: I used this for the user interface: <a class="gf" href="https://fonts.google.com">Google Fonts</a></li>
            <li>Undraw: I used this for some professional SVG images on my page: <a class="ud" href="https://undraw.co">Undraw</a></li></li>
            <li>Accessibility Widget by Sienna: used this for an Accessibility menu: <a class="saw" href="https://accessibility-widget.pages.dev">Sienna Accessibility Widget</a></li>
        </ul>
        </div>


    </body>
{%endblock%}