{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Login NAV TEST</title>
    <body>

        <form class="loginForm" method="POST" action="/login"> <!--Login Form-->

            <h1>Login</h1>
            <p>Don't have an account?<a href="/signup">Login</a></p> 

            <div class="inputsDIV"> <!--Input Fields-->
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
           
            </div>

            <button class="loginBTN">LOGIN</button> <!--Form Submit-->

            {% if error %}
            <p class="error"> {{ error }}</p>
            {% endif %}

        
    </body>
{%endblock%}