{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>pp NAV TEST</title>
    <body>
        <br>
        <br>
        <br>
        <br>
        <div class="ppBdy">
            <h1>Privacy Policy</h1> <!--Privacy Policy, What are we doing with users data etc-->
            <p>This Privacy policy governs  the manner in which Rolsa Technologies as a bussiness can collect and use personal information.</p>

            <h2>Personal Indentification Information</h2>
            <p> We may collect and use, user information in a variety of way including when users visit the website and register an account. The general user may be asked for their name, 
                email and phone number as it it required in terms of booking etc. <br> We only collect user information when the user agrees to the terms and conditions and accepts and acknowledges our privacy policy and accepts the agreement.
            </p>
            <h2>Use of Collected Information</h2>

            <p> Rolsa Technologies may collect and user users perosnal information for the following purposes:<br>
                <ul>
                    <li>To improve our Site</li>
                    <li>To Improve Customer Service</li>
                    <li>To Process transactions</li>
                    <li>To sent Marketing related emails</li>
                </ul>
            </p>

        </div>
        
    </body>
{%endblock%}