{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css"> <!--Connect to styles.css-->
    <title>signup NAV TEST</title>
    <body>

        <form class="signupForm" method="POST" action="/signup"> <!--Registry Form-->

            <h1>Sign Up</h1>
            <p>Already have an account?<a href="/login">Login</a></p> 

            <div class="inputsDIV"> <!--Input Fields-->
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="cpass" placeholder="Confirm Password">
            </div>

            <button class="signupBTN">SIGN UP</button> <!--Form Submit-->

            {% if error %}
            <p class="error"> {{ error }}</p>
            {% endif %}

        </form>
        
    </body>
{%endblock%}