{%extends "layout.html"%} 


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>supportNAV TEST</title>
    <body>
        <div class="supPage" >
        <h1>Support - Information and Help! </h1>
        <p>Welcome to the support page, here you will find answers and helpful information to suit your needs.</p>

        <a class="FAQ" href="#">Visit FAQ</a>
        </div>
    </body>
{%endblock%}