{%extends "layout.html" %}

{%block content%}
<!DOCTYPE html>
<html>
<head>
    <title>View Bookings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body> <!--View Bookings-->

    <br>
    <br>
    <br>
    <br>

    <h2>Consultations</h2> <!--Consultation Booking Section-->
    <table>
        <tr> <!--Columns-->
            <th>ID</th>
            <th>Date</th>
            <th>QTY</th>
            <th>Time</th>
        </tr>
        {% for consultation in consultations %} <!--All the data in the consultation database for this user-->
        <tr>
            
            <!--Displayed In the corresponding collumn-->
            <td>{{ consultation[0] }}</td> 
            <td>{{ consultation[1] }}</td>
            <td>{{ consultation[2] }}</td>
            <td>{{ consultation[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Solar Panel Installations</h2> <!--Installation Booking Section-->
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Time</th>
        </tr>
        {% for solar_installation in solar_installations %}
        <tr>
            <td>{{ solar_installation[0] }}</td>
            <td>{{ solar_installation[1] }}</td>
            <td>{{ solar_installation[2] }}</td>
            <td>{{ solar_installation[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a class="viewBTN" href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>

{%endblock%}
